<main class="index">
    <header class="masthead d-flex ">
        <div class="container text-center my-auto">
            <h1 class="mb-1" style="color:blanchedalmond;"><strong> Nómina y Registro de Pagos</strong></h1>
            <h6 class="mb-5 text-bold" style="color:rgb(19, 19, 18);">
                <em><h5>Ladetec Solutions
                    servicios y sofware – profesionales</h5></em>
            </h6>
            <a href="/signin" id="comencemos" class="btn btn-primary">Comencemos</a>
        </div>
    </header>
</main>