
       
      <div class="container p-4">
  
    <div class="row">
      <div class="col-md-12 mx-auto">
          <div class="card text-center">
             <div class="card-body">
              
                 <h3><label class="primary">Bienvenido a Ladetec</label></h3>
                 <h3><strong></strong>Servicio de Pagos.</strong></h3>
                 <h4><strong>Usuario:</strong><em> {{user.username}}</em></h4>
                
                 <a href="/logout" class="btn btn-primary m-4"><i class="arrow-right-square-fill"></i>Cerrar Sesión del Usuario</a>
                </div> 
             
             </div>  
           </div>
    </div>
       
           <div>
             <section class="flex-container">
               <img src="/images/ladetec.jpg"  class="caja">
               <img src="/images/ladetec1.jpg "  class="caja">
               <img src="/images/ladetec2.jpg "  class="caja">
               <img src="/images/ladetec3preview.jpg "  class="caja">
             
              </section> 
            </div>  

         </div>   
       
      
  
     
  
