<div class="container p-1">
          <div class="row">
              <div class="navbar navbar-fixed-bottom">
                  
                   <label>El footer</label> 
                     
                 
              </div>
           </div>
      </div>