
<nav class="navbar  navbar-expand-lg navbar-dark bg-primary" id="navbar" style="background-color: #e3f2fd;">
  <div class="container">
        <a class="navbar-brand" href="/links">
          <img src="/images/ladetec.jpg" width="80" height="50" alt="" class="card-img-top mx-auto m-2 rounded-circle w-10">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             {{#if user}}

             
          
         <li class="nav-item">
              <a href="/links/cambiar_fecha" id="cambiar_fecha" class="nav-link">Fecha</a>
         </li>
            <li id="nav-item dropdown" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Listados
              </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 
                  <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/equipos_tarifas">Registro de Equipos</a>
                    <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/links/equipos_tarifas_editar">Editar Equipos</a>
                    <div class="dropdown-divider"></div>  
                  
                  <a class="dropdown-item" href="/links/items/1">Registro de Trabajadores</a>
              </div>
            </li>

              <li class="nav-item dropdown" id="calculos">
              
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                Datos Globales
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="/links/salario_total_directo">Salario Total Trabajadores Directos</a>
                    <div class="dropdown-divider"></div>
                     
                  <a class="dropdown-item" id="por_unidades" href="/links/planes_por_unidad/{{user.nivel}}">Planes por Unidad</a>
                   <div class="dropdown-divider"></div> 

                   <a class="dropdown-item" id="id_monetarios" href="/links/planes_gastos_monetarios_unidad/{{user.nivel}}">Planes Gastos Monetarios por Unidad</a>
                   <div class="dropdown-divider"></div> 
                </li>

             <li class="nav-item dropdown" id="gastos_indirectos">
              
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                Gastos Indirectos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    <a class="dropdown-item" href="/links/gastos_asociados">Gastos Asociados</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/gastos_generales_admon">Gastos Generales/Administración</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item"  href="/links/coeficiente_gastos_indirectos">Calcular Coeficiente de Gastos Indirectos<span class="caret"></span></a>   
                     <div class="dropdown-divider"></div>
                 <!--   <a class="dropdown-item" href="/links/gastos_financieros">Gastos Financieros</a>
                    <div class="dropdown-divider"></div>
                 -->   
            </li>

            <li class="nav-item dropdown">
              <a class="my_class nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Servicios
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/links/add_proyectos">Registrar Servicios</a>
                    <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="/links/test/1/2023-01-01">Ir a Servicios</a>
            </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reportes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="/links/get_excel">Facturas Generadas</a>
              <!--      <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="/links/repo_salario_total_directo">Salario Total Trabajadores Directos</a>
                    <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/links/equipos">Equipos: Costos Horarios</a>
                                   
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/fuerza_trabajo">Costo de la Fuerza de Trabajo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/recursos_materiales">Costo de los Recursos Materiales</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/otros_gastos_directos">Otros Gastos Directos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/gastos_asociados">Gastos Asociados</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/gastos_generales_admon">Gastos Generales/Administración</a>
                     <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/gastos_indirectos">Gastos Indirectos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/gastos_financieros">Gastos Financieros</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/gastos_tributarios">Gastos Tributarios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"  href="/links/coeficiente_gastos_indirectos">Coeficiente Gastos Indirectos<span class="caret"></span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" tabindex="-1" href="#">Otros Gastos <span class="caret"></span></a>
            -->
            </li>
            

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ayuda
              </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/links/procedimiento">Procedimiento de Cálculo</a>
                    <div class="dropdown-divider"></div>
              </div>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/links/ayuda">Conceptos</a>
                    <div class="dropdown-divider"></div>
              </div>
            </li>


            <li class="nav-item">
              <a href="/profile" class="nav-link">Tu Perfil</a>
            </li>
           <li class="nav-item">
              <a href="/logout" id="cerrar" class="nav-link">Cerrar</a>
            </li>
             {{else}}
               <li class="nav-item">
                  <a href="/signin" class="nav-link">Loguéate</a>
               </li>
               <li class="nav-item">
                  <a href="/signup" class="nav-link">Regístrate</a>
               </li>
             {{/if}}
          </ul>
        </div>
 </div>
</nav>
      

<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
         <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trabajadores
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/links/registro_trabajadores">Registrar Trabajadores</a>
                    <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/links/items/1">Editar Trabajadores</a>
              </div>
            </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
-->