---
import RegisterModule from '../components/RegisterModule.jsx';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" /> <!-- Asegura que el texto se interprete en UTF-8 -->
    <title>Registrar Módulo</title>
  </head>
  <body>
    <h1>Registrar Módulo</h1>
    <RegisterModule client:load />
  </body>
</html>