<div class="container p-4" >
    <div class="row">
      <div class="col-md-4 mx-auto">
          <div class="card text-center">
             <div class="card-header" style="background-color: red;">
                <h1 class="text-3xl text-red-500">Ladetec</h1>
                 <h3>Loguéate</h3>
             </div>
            <div class="card-body" style="background-color: #e3f2fd;">
                <img src="/images/ladetec.jpg" width="80" height="50" alt="" class="card-img-top mx-auto m-2 rounded-circle w-20">
                <form action="/signin" method="POST">
                   <div class="form-group">
                       <input type="text" name="username" placeholder="Usuario" class="form-control" required autofocus>
                   </div>
                   <div class="form-group">
                       <input type="password" name="password" placeholder="Contraseña" class="form-control" required autofocus>
                   </div>
                   <div class="form-group">
                        <input  type="date" class="form-control" id="input_fecha" name="fecha_global">
                   </div>
                   

                   <div class="form-group">
                       <button class="btn btn-success btn-block">
                           Aceptar
                       </button>
                   </div>
                </form>
            </div>
          </div>
      </div>
     </div>
    </div>
